
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Segoe UI', sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}
.book-btn {
  background-color: #e84545;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 40px;
  background-color: #f9f9f9;
}
.hero-text {
  max-width: 50%;
}
.hero-text h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.hero-text p {
  font-size: 18px;
  margin-bottom: 30px;
}
.hero-buttons .btn {
  margin-right: 15px;
  padding: 12px 24px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}
.red-btn {
  background-color: #e84545;
  color: #fff;
}
.dark-btn {
  background-color: #333;
  color: #fff;
}
.hero-image img {
  max-width: 500px;
  border-radius: 8px;
}

.about {
  text-align: center;
  padding: 40px;
  background-color: #fff;
}
.about h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #6b6969;
}
.about p {
  font-size: 30px;
  color: #333;
}