body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    padding:40px
}
.form-box{
    width:100%;
    max-width: 320px;
 
}
form{
    width: 100%;
     background-color: #ffffff;
}
input, button{
    display: block;
    width: 100%;
    margin:10px 0;
    padding: 8px;

}
button{
    background-color: #1215d3;
    color: rgb(255, 255, 255);
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(190, 35, 35);
}